@import "tailwindcss";

@custom-variant hover (&:hover);

html {
  background: rgb(0, 0, 0);
}

body {
  background: rgba(255, 81, 0, 0.6);
  font-family: var(--font-euclid), sans-serif;
}

.click { 
  @apply active:scale-90 transition-transform duration-500
}